nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 20px 840px 20px 100px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
} 

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
}

li {
  list-style: none;
  display: flex;
}

#title {
  color: black;
  justify-content: left;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20pt;
  padding: 0px 350px 0px 50px;
}

#logo {
  width: 60px;
  height: 50px;
}

