nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1b2430;
  padding: 0px 340px 0px 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
} 

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
}

li {
  list-style: none;
  display: flex;
}

#title {
  color:#fff;
  justify-content: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20pt;
  padding: 0px 100px 0px 5px;
}

