#collegeselect {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    padding: 10px;
    color: black;
    position: relative;
    top: 300px;
}

#search {
    bottom: 700px;
}