. {
    display: flex;
    flex-direction: column;

}

#collegeselect {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    padding: 0px;
    color: black;
    position: relative;
    top: 280px;
    font-weight: bold;
    font-size: 15pt;
}

#search {
    position: relative;
    padding-top: 15px;
    bottom: 220px;
    right: 9.5%;
}