#collegeselect {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    padding: 50px;
    color: black;
    position: relative;
    top: 300px;
}

#search {
    padding-bottom: 200px;
}