#collegeselect {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    padding: 0px;
    color: black;
    position: relative;
    top: 400px;
}

#search {
    
    bottom: 100px;
}